<style media="screen">

  body{
  background color: #FEF5ED;
  }
  h3{
    color: #99A799;
  }
  h2{
    color:#99A799;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #99A799;
    height: 0px;
    width:75%;
    border-width:5px;
  }
</style>
